{extend name="common/base" /}
<!-- 主體 -->
{block name="body"}
<div class="p-3">
    <table class="layui-hide" id="role" lay-filter="role"></table>
</div>
<!--<script type="text/html" id="toolbarDemo">-->
<!--    <div class="layui-btn-container">-->
<!--        <button class="layui-btn layui-btn-sm add-menu layui-btn-normal">+ 添加用戶等級</button>-->
<!--    </div>-->
<!--</script>-->
<script type="text/html" id="status">
    {{#  if(d.status==1){ }}
    <input type="checkbox" name="status" lay-skin="switch" checked lay-text="開啟|禁用" value={{ d.id }}
           lay-filter="status">
    {{#  } else { }}
    <input type="checkbox" name="status" lay-skin="switch" lay-text="開啟|禁用" value={{ d.id}} lay-filter="status">
    {{#  } }}
</script>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function xuwenInit() {
        var table = layui.table, tool = layui.tool ,form = layui.form;
        layui.pageTable = table.render({
            elem: '#role'
            // , toolbar: '#toolbarDemo'
            , title: '用戶等級列表'
            , url: "/admin/role/index"
            , page: false //開啟分頁
            , cellMinWidth: 120
            , cols: [[
                {field: 'id', width: 80, title: 'ID號', align: 'center'}
                , {field: 'name', title: '等級名稱', width: 120, align: 'center'}
                , {field: 'reward_fee', title: '手續費獎勵比例', width: 200, align: 'center'}
                , {field: 'member_count', title: '用戶數量', width: 200, align: 'center'}
                , {field: 'desc', title: '等級描述'}
                , {
                    field: 'status',
                    title: '狀態',
                    toolbar: '#status',
                    align: 'center',
                    width: 150
                }
                , {
                    width: 100, title: '操作', align: 'center', templet: function (d) {
                        return '<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">編輯</a>';
                    }
                }
            ]]
        });

        table.on('tool(role)', function (obj) {
            if (obj.event === 'edit') {
                addExpense(obj.data.id, obj.data.name, obj.data.reward_fee, obj.data.desc);
            }
        });


        //监听指定开关
        form.on('switch(status)', function(data){
            let callback = function (e) {
                layer.msg(e.msg);
                if (e.code == 0) {
                    parent.layui.tool.close(1000);
                }
            }
            tool.post("/admin/index/status",{table:'member_role',id:data.value}, callback);

        });


        $('body').on('click', '.addNew', function () {
            addExpense(0, '', 0, '');
        });

        function addExpense(id, name, reward_fee, desc) {
            var biaoti = '新增等級';
            if (id > 0) {
                biaoti = '編輯等級';
            }

            layer.open({
                type: 1
                , title: biaoti
                , area: '512px;'
                , id: 'LAY_module' //設定一個id，防止重複彈出
                , btn: ['確定', '取消']
                , btnAlign: 'c'
                , content: '<div style="padding-top:15px;">\
                        <div class="layui-form-item">\
                          <label class="layui-form-label">等級名稱</label>\
                          <div class="layui-input-inline" style="width:360px;">\
                           <input type="hidden" name="id" value="' + id + '">\
                           <input type="text" name="name" autocomplete="off" value="' + name + '" placeholder="請輸入名稱" class="layui-input">\
                          </div>\
                        </div>\
                        <div class="layui-form-item">\
                          <label class="layui-form-label">手續費獎勵比例</label>\
                          <div class="layui-input-inline" style="width:360px;">\
                           <input type="text" name="reward_fee" autocomplete="off" value="' + reward_fee + '" placeholder="請輸入比例" class="layui-input">\
                          </div>\
                        </div>\
                        <div class="layui-form-item">\
                          <label class="layui-form-label">等級描述</label>\
                          <div class="layui-input-inline" style="width:360px;">\
                           <textarea name="desc" placeholder="請輸入等級描述，100字以內" class="layui-textarea">' + desc + '</textarea>\
                          </div>\
                        </div>\
                       </div>'
                , yes: function (index) {
                    let id = $('#LAY_module').find('[name="id"]').val();
                    let name = $('#LAY_module').find('[name="name"]').val();
                    let reward_fee = $('#LAY_module').find('[name="reward_fee"]').val();
                    let desc = $('#LAY_module').find('[name="desc"]').val();
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            if (e.code == 0) {
                                layer.close(index);
                                layui.pageTable.reload();
                            }
                        }
                    }
                    tool.post("/admin/role/add", {
                        id: id,
                        name: name,
                        reward_fee: reward_fee,
                        desc: desc
                    }, callback);
                    return false;
                }
                , btn2: function () {
                    layer.closeAll();
                }
            });
        }
    }
</script>
{/block}
<!-- /腳本 -->
