{extend name="common/base" /}
<!-- 主體 -->
{block name="body"}
<div class="p-3">
    <table class="layui-hide" id="datalist" lay-filter="datalist"></table>
</div>
<!--<script type="text/html" id="toolbar">-->
<!--    <div class="layui-btn-container">-->
<!--        <button class="layui-btn layui-btn-sm add-menu layui-btn-normal">+ 添加用戶等級</button>-->
<!--    </div>-->
<!--</script>-->
<script type="text/html" id="status">
    {{#  if(d.status==1){ }}
    <input type="checkbox" name="status" lay-skin="switch" checked lay-text="開啟|禁用" value={{ d.id }}
           lay-filter="status">
    {{#  } else { }}
    <input type="checkbox" name="status" lay-skin="switch" lay-text="開啟|禁用" value={{ d.id}} lay-filter="status">
    {{#  } }}
</script>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function xuwenInit() {
        var table = layui.table, tool = layui.tool ,form = layui.form;
        layui.pageTable = table.render({
            elem: '#datalist'
            // , toolbar: '#toolbar'
            , title: '用戶等級列表'
            , url: "/admin/role/index"
            , page: false //開啟分頁
            , cellMinWidth: 120
            , cols: [[
                {field: 'id', width: 80, title: 'ID號', align: 'center'}
                , {field: 'name', title: '等級名稱', width: 120, align: 'center'}
                , {field: 'reward_fee', title: '手續費獎勵比例', width: 200, align: 'center'}
                , {field: 'member_count', title: '用戶數量', width: 200, align: 'center'}
                , {field: 'desc', title: '等級描述'}
                , {
                    field: 'status',
                    title: '狀態',
                    toolbar: '#status',
                    align: 'center',
                    width: 150
                }
                , {
                    width: 100, title: '操作', align: 'center', templet: function (d) {
                        return '<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">編輯</a>';
                    }
                }
            ]]
        });

        table.on('tool(datalist)', function (obj) {
            if (obj.event === 'edit') {
                tool.smallForm('/admin/role/edit?id=' + obj.data.id,'edit');
            }
        });
        //监听指定开关
        form.on('switch(status)', function(data){
            tool.post("/admin/index/status",{table:'member_role',id:data.value}, tool.reqCallBack(false));

        });
    }
</script>
{/block}
<!-- /腳本 -->
