{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}

<div class="p-3">
    <table class="layui-hide" id="currency" lay-filter="currency"></table>
</div>

<script type="text/html" id="status">

    <input type="checkbox" name="status" lay-skin="switch" {{# if(d.status==1){ }}checked {{# } }}
           lay-text="開啟|禁用" value={{ d.id }} lay-filter="status">

</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <span class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add" data-title="添加公鏈">+添加公鏈</span>
    </div>
</script>

<script type="text/html" id="barDemo">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="edit">編輯</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">刪除</a>
    </div>
</script>

{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function xuwenInit() {
        var table = layui.table, tool = layui.tool, form = layui.form;
        layui.pageTable = table.render({
            elem: '#currency',
            title: '公鏈列表',
            toolbar: '#toolbarDemo',
            url: '/admin/chain/index',
            page: true,
            limit: 20,
            cols: [
                [
                    {
                        field: 'id',
                        title: '編號',
                        align: 'center',
                        width: 80
                    }, {
                    field: 'chain_name',
                    title: '名稱',
                }, {
                    field: 'base_chain',
                    title: '底層標識',
                    align: 'center',
                    width: 90
                }, {
                    field: 'base_chain_protocol',
                    title: '底層協議',
                    align: 'center',
                    width: 90
                }, {
                    field: 'sort_order',
                    title: '排序',
                    align: 'center',
                    width: 80
                }, {
                    field: 'status',
                    title: '狀態',
                    toolbar: '#status',
                    align: 'center',
                    width: 150
                }, {
                    fixed: 'right',
                    field: 'right',
                    title: '操作',
                    toolbar: '#barDemo',
                    width: 136,
                    align: 'center'
                }
                ]
            ]
        });

        //監聽表頭工具欄事件
        table.on('toolbar(currency)', function (obj) {
            if (obj.event === 'add') {
                tool.side("/admin/chain/add");
                return false;
            }
        });

        //監聽表格行工具事件
        table.on('tool(currency)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                tool.side('/admin/chain/edit?id=' + obj.data.id);
            } else if (obj.event === 'del') {
                layer.confirm('確定要刪除該記錄嗎?', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            obj.del();
                        }
                    }
                    tool.delete("/admin/chain/delete", {id: data.id}, callback);
                    layer.close(index);
                });
            }
            return false;
        });

        let statusList = ['status'];
        statusList.map((item) => {
            //监听指定开关
            form.on('switch(' + item + ')', function (data) {


                console.log(data);
                let callback = function (e) {
                    layer.msg(e.msg);
                    if (e.code == 0) {
                        parent.layui.tool.close(1000);
                    }
                }
                tool.post("/admin/index/status", {table: 'chain', id: data.value, field: item}, callback);

            });
        })
    }
</script>
{/block}
<!-- /腳本 -->
