{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}
<style>
    tbody .layui-table-cell {
        height: auto;
        line-height: normal;
    }
</style>
<div class="p-3">
    <form class="layui-form gg-form-bar border-t border-x">
        <div class="layui-input-inline" style="width:300px;">
            <input type="text" name="keywords" placeholder="請輸入關鍵字" class="layui-input" autocomplete="off"/>
        </div>
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
    </form>
    <table class="layui-hide" id="datalist" lay-filter="datalist"></table>
</div>

<script type="text/html" id="name">
    <div>
        交易單號：{{d.tx_id}}
    </div>
    <div>
        轉出地址：{{d.from_address}}
    </div>
    <div>轉入地址：{{d.to_address}}</div>
</script>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function xuwenInit() {
        var table = layui.table, tool = layui.tool, form = layui.form;
        layui.pageTable = table.render({
            elem: '#datalist',
            title: '轉賬列表',
            toolbar: '#toolbar',
            url: '/admin/transfer/index',
            page: true,
            limit: 20,
            cellMinWidth: 300,
            cols: [
                [
                    {
                        field: 'id',
                        title: '編號',
                        align: 'center',
                        width: 80
                    }, {
                    field: 'username',
                    title: '會員',
                    align: 'center',
                    width: 130
                }, {
                    field: 'cc_id',
                    title: '幣鏈名稱',
                    align: 'center',
                    width: 130
                }, {
                    title: '交易詳情',
                    toolbar: '#name',
                }, {
                    field: 'amount',
                    title: '數量',
                    align: 'center',
                    width: 160
                }, {
                    field: 'created_at',
                    title: '創建時間',
                    align: 'center',
                    width: 160
                }
                ]
            ]
        });
        //監聽搜索提交
        form.on('submit(searchform)', function (data) {
            layui.pageTable.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });
    }
</script>
{/block}
<!-- /腳本 -->
