{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}

<div class="p-3">
    <form class="layui-form gg-form-bar border-t border-x">
        <div class="layui-input-inline">
            <select name="cate_id">
                <option value="">請選擇房產分類</option>
                {volist name=":set_recursion(get_house_cate())" id="v"}
                <option value="{$v.id}">{$v.title}</option>
                {/volist}
            </select>
        </div>
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
    </form>
    <table class="layui-hide" id="house" lay-filter="house"></table>
</div>

<script type="text/html" id="status">
    {{#  if(d.status==1){ }}
    <input type="checkbox" name="status" lay-skin="switch" checked lay-text="開啟|禁用" value={{ d.id }} lay-filter="status">
    {{#  } else { }}
    <input type="checkbox" name="status" lay-skin="switch" lay-text="開啟|禁用" value={{ d.id}} lay-filter="status">
    {{#  } }}
</script>

<script type="text/html" id="order_price">
    {{ d.order_price }}U
</script>

{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function xuwenInit() {
        var table = layui.table, tool = layui.tool, form = layui.form;
        layui.pageTable = table.render({
            elem: '#house',
            title: '房產表列表',
            // toolbar: '#toolbar',
            url: '/admin/house_order/index',
            page: true,
            limit: 20,
            cellMinWidth: 300,
            cols: [
                [
                    {field: 'id', title: '編號', align: 'center', width: 80},
                    {field: 'order_no', title: '訂單號', align: 'center', width: 200},
                    {field: 'cate_title', title: '房產分類', align: 'center', width: 150},
                    {field: 'house_name', title: '房產標題'},
                    {field: 'order_price', title: '價格', align: 'center', toolbar: '#order_price', width: 150},
                    {field: 'username', title: '房產所屬人', align: 'center', width: 150},
                    {field: 'created_at', title: '創建時間', align: 'center', width: 160}
                ]
            ]
        });

        //監聽表格行工具事件
        table.on('tool(house)', function (obj) {
            var data = obj.data;

            return false;
        });

        //監聽搜索提交
        form.on('submit(searchform)', function (data) {
            layui.pageTable.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });
    }
</script>
{/block}
<!-- /腳本 -->
