{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}

<div class="p-3">
    <table class="layui-hide" id="buy_card" lay-filter="buy_card"></table>
</div>

<script type="text/html" id="status">
    {{#  if(d.status==1){ }}
    <input type="checkbox" name="status" lay-skin="switch" checked lay-text="上架|下架" value={{ d.id}} lay-filter="status">
    {{#  } else { }}
    <input type="checkbox" name="status" lay-skin="switch" lay-text="上架|下架" value={{ d.id }} lay-filter="status">
    {{#  } }}
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <span class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add" data-title="添加搶房寶">+ 添加搶房寶</span>
    </div>
</script>
<script type="text/html" id="price">
    {{ d.price }}U
</script>
<script type="text/html" id="bar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">編輯</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">刪除</a>
    </div>
</script>

{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function xuwenInit() {
        var table = layui.table, tool = layui.tool, form = layui.form;
        layui.pageTable = table.render({
            elem: '#buy_card',
            title: '搶房寶列表',
            toolbar: '#toolbar',
            url: '/admin/buy_card/index',
            page: true,
            limit: 20,
            cellMinWidth: 300,
            cols: [
                [
                    {field: 'id', title: '編號', align: 'center', width: 80},
                    {field: 'sort_order', title: '排序', align: 'center', width: 80},
                    {field: 'num', title: '個數', align: 'center'},
                    {field: 'price', title: '價格', align: 'center', toolbar: '#price'},
                    {field: 'status', title: '狀態', toolbar: '#status', align: 'center', width: 200},
                    {field: 'admin_name', title: '創建人', align: 'center', width: 150},
                    {field: 'created_at', title: '創建時間', align: 'center', width: 160},
                    {fixed: 'right', field: 'right', title: '操作', toolbar: '#bar', width: 160, align: 'center'}
                ]
            ]
        });

        //監聽表頭工具欄事件
        table.on('toolbar(buy_card)', function (obj) {
            if (obj.event === 'add') {
                tool.smallForm("/admin/buy_card/add");
                return false;
            }
        });

        //監聽表格行工具事件
        table.on('tool(buy_card)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                tool.smallForm('/admin/buy_card/edit?id=' + obj.data.id);
            } else if (obj.event === 'del') {
                layer.confirm('確定要刪除該記錄嗎?', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    tool.delete("/admin/buy_card/delete", {id: data.id}, tool.deleteCallBack(obj));
                    layer.close(index);
                });
            }
            return false;
        });


        //监听指定开关
        form.on('switch(status)', function (data) {
            tool.post("/admin/index/status", {table: 'buy_card', id: data.value}, tool.reqCallBack(false));
        });

        //監聽搜索提交
        form.on('submit(searchform)', function (data) {
            layui.pageTable.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });
    }
</script>
{/block}
<!-- /腳本 -->
