{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">編輯用戶</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">用戶等級</td>
			<td>
				<input type="hidden" name="id" value="{$item.id}">
				<select name="role_id">
					<option value="">請選擇用戶等級</option>
					{volist name="role_list" id="v"}
					<option value="{$v.id}" {eq name="$item.role_id" value="$v.id"}selected{/eq}>{$v.name}</option>
					{/volist}
				</select>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">電子郵箱</td>
			<td>
				<input type="text" name="email" placeholder="請輸入電子郵箱" autocomplete="off" class="layui-input" value="{$item.email}">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">個人簡介</td>
			<td colspan="5">
				<textarea name="desc" placeholder="請輸入個人簡介" class="layui-textarea">{$item.desc}</textarea>
			</td>
		</tr>
	</table>

	<div class="py-4 flex justify-center">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function xuwenInit() {
		var tool = layui.tool, form = layui.form;
		//監聽提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);
				}
			}
			tool.post("/admin/member/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /腳本 -->
