{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}
<form class="layui-form p-4">
    <h3 class="pb-3">大富翁參數配置</h3>
    <table class="layui-table layui-table-form">
        <tr>
            <td class="layui-td-gray-2">彩金池總額<span>*</span></td>
            <td>
                <input type="hidden" name="id" value="{$id}">
                <input type="text" name="total_money" lay-verify="required|number" autocomplete="off" placeholder="請輸入彩金池總額" lay-reqText="請輸入彩金池總額" class="layui-input" {notempty name="$config.total_money" } value="{$config.total_money}" {/notempty}>
            </td>
        </tr>
        <tr>
            <td class="layui-td-gray">組織獎金比例<span>*</span>
            </td>
            <td>
                <input type="text" name="z_proportion" lay-verify="required|number" autocomplete="off" placeholder="請輸入組織獎金比例" lay-reqText="請輸入組織獎金比例" class="layui-input" {notempty name="$config.z_proportion" } value="{$config.z_proportion}" {/notempty}>
            </td>
        </tr>
        <tr>
            <td class="layui-td-gray">賣家比例<span>*</span>
            </td>
            <td>
                <input type="text" name="m_proportion" lay-verify="required|number" autocomplete="off" placeholder="請輸入組織獎金比例" lay-reqText="請輸入組織獎金比例" class="layui-input" {notempty name="$config.m_proportion" } value="{$config.m_proportion}" {/notempty}>
            </td>
        </tr>
        <tr>
            <td class="layui-td-gray">平台比例<span>*</span>
            </td>
            <td>
                <input type="text" name="p_proportion" lay-verify="required|number" autocomplete="off" placeholder="請輸入組織獎金比例" lay-reqText="請輸入組織獎金比例" class="layui-input" {notempty name="$config.p_proportion" } value="{$config.p_proportion}" {/notempty}>
            </td>
        </tr>
        <tr>
            <td class="layui-td-gray">彩金池比例<span>*</span>
            </td>
            <td>
                <input type="text" name="c_proportion" lay-verify="required|number" autocomplete="off" placeholder="請輸入組織獎金比例" lay-reqText="請輸入組織獎金比例" class="layui-input" {notempty name="$config.c_proportion" } value="{$config.c_proportion}" {/notempty}>
            </td>
        </tr>
    </table>

    <div class="flex justify-center py-4">
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</form>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function xuwenInit() {
        var form = layui.form, tool = layui.tool, upload = layui.upload;
        //監聽提交
        form.on('submit(webform)', function (data) {
            let callback = function (e) {
                layer.msg(e.msg);
                if (e.code == 0) {
                    parent.layui.tool.close(1000);
                }
            }
            tool.post("/admin/conf/edit", data.field, callback);
            return false;
        });

        //logo上傳
        var uploadInst = upload.render({
            elem: '#uploadBtn',
            url: "/admin/api/upload",
            done: function (res) {
                if (res.code == 1) {
                    layer.msg('上傳失敗');
                } else {
                    layer.msg('上傳成功');
                    $('#demo1 input').attr('value', res.data.filepath);
                    $('#demo1 img').attr('src', res.data.filepath);
                }
            }
        });
    }
</script>
{/block}
<!-- /腳本 -->
